.card {
  padding: 10px;
  margin: 15px;
  @media (max-width: 480px) {
    margin: 0px;
  }
}
.card-body {
  margin-left: 10px;
}
.card-img {
  min-width: 56px;
  margin-top: 23px;
}

.dd-container {
  align-self: center;
}

.qty-dropdown {
  width: 100px;
  @media (max-width: 480px) {
    width: 50px;
  }
}

.card-title {
  @media (max-width: 480px) {
    font-size: 4vw;
  }
}
