.item {
  text-align: center;
  background: white;
  margin: 16px;
  width: 200px;
  border-radius: 4px;
  .item-image {
    overflow: hidden;
    border-radius: 2px 2px 0 0;
    max-height: 200px;
    img {
      cursor: pointer;
      width: 100%;
      height: auto;
      max-height: 200px;
      transition: transform 300ms ease-in;
      transform: scale(1);
      @media (min-width: 991px) {
        min-height: 200px;
      }
    }
  }
  .item-name {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
    min-height: 100px;
  }
  .item-brand {
    margin-top: 8px;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 8px;
  }
  .item-price {
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 16px;
  }
  .item-name,
  .item-price {
    color: gray;
    padding: 0 16px;
    text-align: center;
  }
  .item-action {
    padding: 16px;
    button {
      width: 100%;
      transition: all 300ms ease-in;
      &.added {
        background: orange;
      }
    }
  }
  &:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}
