footer {
  color: lightgray;
  font-size: 14px;
  text-align: center;
  padding: 1px;
  background: darkgray;
  strong {
    color: gray;
  }
  .footer-urls {
    margin-bottom: 24px;
    a {
      margin: 0 8px;
      color: gray;
    }
  }
}
